.container-skills {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;

}

.container-skills .skill-tec {
    width: 380px;
}

.container-skills .skill-tec:nth-child(odd) {
    margin-right: 100px;
}

.container-skills .progress-bar {
    width: 320px;
}