.main-button {
    display: inline-block;
    padding: 17px 20px;
    box-shadow: 5px 5px 0px #000000;
    background-color: #7C5E99;
    color: #FFF;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 0;
    transition: 0.6s;
}

.main-button:hover {
    background-color: rebeccapurple;
    border-radius: 20px;
    transform: scale(1.1);
}

.main-button.-enviar{
    transform: none;
    border-radius: 0px;
    width: 100%;
}