.main-action {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    margin-right: 30px;
    color: #FFF;

}


.main-action::before {
    content: "";
    display: inline-flex;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: #7C5E99;
}

.main-action:before:hover {
    background-color: rebeccapurple;
}