.main-title {
    color: #7C5E99;
    font-family: "Press Start 2P";
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-shadow: 4px 4px 0px #000000;
}

.main-title.-second {
    text-shadow: none;
    color: #FFF;
}

.main-title.-enterprise {
    font-size: 25px;
    text-shadow: none;
    margin-bottom: 50px;
}