.skill-tec {
    display: flex;
    align-items: center;
    font-family: "Press Start 2P";
    font-size: 25px;
    font-weight: 400;
    color: #FFF;
    text-align: left;
    margin-bottom: 38px;
}

.skill-tec .icon {
    margin-right: 25px;
    width: 80px;
}

.skill-tec .title {
    margin-bottom: 16px;
}