.text-description {
    font-family: Fira Code;
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    line-height: 39px;
    color: #FFF;
    text-align: left;
    padding-left: 80px;
    padding-right: 80px;
}